body{
    background-color: rgb(139, 174, 250);
}

.navbar{
    background-color: rgb(135, 135, 255);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

